In [8]:
import pandas as pd

Melakukan Cleaning untuk dataset Test

In [9]:
data_awal = pd.read_csv('dataset/Test.csv')

In [10]:
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2577 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2603 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

In [11]:
data_awal.duplicated().sum()

0

In [12]:
data_awal.isna().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

Cleaning Field Ever Married

In [14]:
#mengini nilai null pada field dengan menggunakan kata yang sering muncul
paling_sering_muncul = data_awal['Ever_Married'].mode()[0]
data_awal['Ever_Married'].fillna(paling_sering_muncul,inplace=True)
data_awal['Ever_Married'].isnull().sum()
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2627 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2603 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_103196\4129376683.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Ever_Married'].fillna(paling_sering_muncul,inplace=True)

Cleaning field Graduated

In [15]:
#mengganti field kosong dengan menggunakan teks 'Yes'
#karena field 'Graduated' yang kosong mayoritas work experience nya 1
#jika professionnya kosong, dianggap jobless
data_awal['Graduated'].fillna('Yes',inplace=True)
print(f'setelah diproses : {data_awal['Graduated'].isna().sum()}')
print(data_awal.info())

setelah diproses : 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2627 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2627 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB
None

C:\Users\luthf\AppData\Local\Temp\ipykernel_103196\3686856172.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Graduated'].fillna('Yes',inplace=True)

Cleaning Field Profession

In [16]:
#mengisi field kosong dengan teks 'jobless' 
#karena pada field kosong 'Graduated' diisi 'Yes'
#jika field kosong pada 'Profession' maka dianggap jobless
data_awal['Profession'].fillna('Jobless',inplace=True)
print(data_awal['Profession'].info())
data_awal.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2627 entries, 0 to 2626
Series name: Profession
Non-Null Count  Dtype
--------------  -----
2627 non-null   object
dtypes: object(1)
memory usage: 20.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2627 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2627 non-null   object
 5   Profession       2627 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_103196\819852240.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Profession'].fillna('Jobless',inplace=True)

Cleaning field Work Experience

In [17]:
#mengisi field 'Work Experience' dengan 0
#karena baik sudah lulus maupun belum lulus, baik udah bekerja atau belum bekerja
#saya mengasumsikan bahsa mereka belum memiliki pengalaman dalam bekerja
data_awal['Work_Experience'].fillna(0,inplace=True)
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2627 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2627 non-null   object
 5   Profession       2627 non-null   object
 6   Work_Experience  2627 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_103196\248084752.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Work_Experience'].fillna(0,inplace=True)

Cleaning field Family Size

In [18]:
#mengisi field kosong pada family size dengan menggunakan nilai modus pada kolom
nilai_sering_muncul = data_awal['Family_Size'].mode()[0]
data_awal['Family_Size'].fillna(nilai_sering_muncul,inplace=True)
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2627 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2627 non-null   object
 5   Profession       2627 non-null   object
 6   Work_Experience  2627 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2627 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_103196\2517676555.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Family_Size'].fillna(nilai_sering_muncul,inplace=True)

Cleaning Field Var_1

In [19]:
#mengisi field kosong pada Var_1 dengan menggunakan nilai yang sering muncul dalam field
nilai_sering_muncul = data_awal['Var_1'].mode()[0]
data_awal['Var_1'] = data_awal['Var_1'].fillna(nilai_sering_muncul)
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2627 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2627 non-null   object
 5   Profession       2627 non-null   object
 6   Work_Experience  2627 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2627 non-null   float64
 9   Var_1            2627 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

Download dataset

In [20]:
data_awal.to_csv('data_test_clean.csv', encoding='utf-8-sig')