In [1]:
import numpy as np
import pandas as pd

Melakukan _Cleaning_ untuk dataset Train

In [2]:
data_awal = pd.read_csv('dataset/Train.csv')

In [3]:
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [4]:
data_awal.duplicated().sum()

0

In [5]:
data_awal.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

Cleaning Field Ever Married

In [15]:
#mengini nilai null pada field dengan menggunakan kata yang sering muncul
paling_sering_muncul = data_awal['Ever_Married'].mode()[0]
data_awal['Ever_Married'].fillna(paling_sering_muncul,inplace=True)
data_awal['Ever_Married'].isnull().sum()
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_96908\4129376683.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Ever_Married'].fillna(paling_sering_muncul,inplace=True)

In [14]:
data_awal['Ever_Married'].isnull().sum()

140

Cleaning field Graduated

In [17]:
#mengganti field kosong dengan menggunakan teks 'Yes'
#karena field 'Graduated' yang kosong mayoritas work experience nya 1
#jika professionnya kosong, dianggap jobless
data_awal['Graduated'].fillna('Yes',inplace=True)
print(f'setelah diproses : {data_awal['Graduated'].isna().sum()}')
print(data_awal.info())

setelah diproses : 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        8068 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB
None

C:\Users\luthf\AppData\Local\Temp\ipykernel_96908\3686856172.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Graduated'].fillna('Yes',inplace=True)

Cleaning Field Profession

In [18]:
#mengisi field kosong dengan teks 'jobless' 
#karena pada field kosong 'Graduated' diisi 'Yes'
#jika field kosong pada 'Profession' maka dianggap jobless
data_awal['Profession'].fillna('Jobless',inplace=True)
print(data_awal['Profession'].info())
data_awal.info()

<class 'pandas.core.series.Series'>
RangeIndex: 8068 entries, 0 to 8067
Series name: Profession
Non-Null Count  Dtype
--------------  -----
8068 non-null   object
dtypes: object(1)
memory usage: 63.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        8068 non-null   object
 5   Profession       8068 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_96908\819852240.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Profession'].fillna('Jobless',inplace=True)

Cleaning field Work Experience

In [19]:
#mengisi field 'Work Experience' dengan 0
#karena baik sudah lulus maupun belum lulus, baik udah bekerja atau belum bekerja
#saya mengasumsikan bahsa mereka belum memiliki pengalaman dalam bekerja
data_awal['Work_Experience'].fillna(0,inplace=True)
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        8068 non-null   object
 5   Profession       8068 non-null   object
 6   Work_Experience  8068 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_96908\248084752.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Work_Experience'].fillna(0,inplace=True)

Cleaning field Family Size

In [20]:
#mengisi field kosong pada family size dengan menggunakan nilai modus pada kolom
nilai_sering_muncul = data_awal['Family_Size'].mode()[0]
data_awal['Family_Size'].fillna(nilai_sering_muncul,inplace=True)
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        8068 non-null   object
 5   Profession       8068 non-null   object
 6   Work_Experience  8068 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      8068 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

C:\Users\luthf\AppData\Local\Temp\ipykernel_96908\2517676555.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_awal['Family_Size'].fillna(nilai_sering_muncul,inplace=True)

Cleaning Field Var_1

In [21]:
#mengisi field kosong pada Var_1 dengan menggunakan nilai yang sering muncul dalam field
nilai_sering_muncul = data_awal['Var_1'].mode()[0]
data_awal['Var_1'] = data_awal['Var_1'].fillna(nilai_sering_muncul)
data_awal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        8068 non-null   object
 5   Profession       8068 non-null   object
 6   Work_Experience  8068 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      8068 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

Download dataset

In [22]:
data_awal.to_csv('data_train_clean.csv', encoding='utf-8-sig')